.menu-layout-header {
    height: 150px;
    padding: 20px;
    color: white;
    margin-bottom: 60px;
}
  
.static-logo {
    height: 150px;
    cursor: pointer;
}
  
.menu-hidden {
    visibility: hidden;
}
  
.menu {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 145px;
    left: 0;
    right:0;
    font-weight: 800;
    font-size: 35px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.42);
    cursor: pointer;
}