.home-content {
	width: 90%;
	text-align: center;
	margin: auto;
}

.grid {
	display: flex;
	justify-content: center;
}

.menu-option-heading {
	font-size: 25px;
}

.menu-option-photo {
	width: 80%;
	border: 1px solid gray;
	border-radius: 10px;
}