#home,
#addFlat,
#flatList,
#contact,
#about,
#logout,
#login,
#register {
    padding: 0;
    margin: 0;
}

.ui.secondary.pointing.menu {
    background-color: white;
}

.ui.secondary.pointing.menu .active.item {
    font-weight: 500;
}

#home a,
#addFlat a,
#flatList a,
#contact a,
#about a,
#logout a,
#login a,
#register a
 {
    padding: .85714286em 1.14285714em;
    margin: 0 0 -2px;
    color: rgba(0,0,0,.87);
}

#home a.active,
#addFlat a.active,
#flatList a.active,
#contact a.active,
#about a.active,
#logout a.active,
#login a.active,
#register a.active {
    border-bottom: 2px solid gray;
}

#welcome a {
    color:  rgba(0,0,0,.87);
    cursor: auto;
    
}

#home:hover,
#addFlat a:hover,
#flatList a:hover,
#contact a:hover,
#about a:hover,
#logout a:hover,
#login a:hover,
#register a:hover {
    background-color: lightgray;
}


.welcome-msg {
    font-weight: 600;
}