.grid {
  margin: 5%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.container {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.6s;
  width: 30%;
  height: 480px;
  background-color: white;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
}

.price {
  color: black;
  font-weight: 800;
  font-size: 120%;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.42);
}


.card-image {
  height: 70%;
}
